p#pogrubienie_Vychkin
{
    font-size: 32px;
    color: #965BCF;
}
p#pochylona_Vychkin
{
    font-size: 37pt;
    color: #FABF6B;
}
p#index_gorny_Vychkin
{
    font-size: 1.3cm;
    color: #AA8D1B;
}
p#index_dolny_Vychkin
{
    font-size: 1.9cm;
    color: #46F1E3
}
p#mono_Vychkin
{
    font-size: 42px;
    color: #2ADD6B;
}
p#powiekszenie_Vychkin
{
    color: #2A3D9D;
}
p#pomniejszenie_Vychkin
{
    color: #C8A139;
}