p
{
    color: red;
    font-size: 22pt;
}
#Gruby_Vychkin
{
    color: green;
    font-size: 17pt;
    font: bold;
}
#dlawszyskich_Vychkin
{
    color: yellow;
    font-size: 10pt;
    font-family: Arial;
}