p.first:first-letter{
    font-size: 117pt;
    color: blue;
}
p.first{
    font-size: 21pt;
    color: red;
}
p.second:first-letter{
    font-size: 117pt;
    color: lightgreen;
}
p.second{
    font-size: 20pt;
    color: red;
}
h1{
    color: violet;
    font-size: 300%;
}
h1::first-letter{
    font-size: 400%;
    color: silver;
}
p.third{
    font-size: 35pt;
    color: navy ;
}
p.third::first-letter{
    color: red;
    font-weight: bold;
    font-size: 70pt;
}
p.third::first-line{
    color: red;
    font-weight: bold;
}